img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.bio {
padding: 30px;
font-size: 20px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}