nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    min-height: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 50px;
    
}

